* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*------------------------------------------------------------------------------------------------AVATAR----------------------------------------------------*/
.avatar-container {
    display: flex;
    height: 100%;
    position: relative;
}

.fundoavatar {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza o fundoavatar */
    margin: 100px;
}

.imagemavatar {
    width: 135px;
    height: 135px;
    background: url('Imagens/ImagemProfessor.svg') center/cover no-repeat;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza a imagemavatar */
    border-radius: 50%;
    margin: 100px;
}
/*------------------------------------------------------------------------------------------------ HEADER--------------------------------------------------*/
header {
    position: static;
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    border-radius: 0px 0px 70px 0px;
    background: linear-gradient(180deg, #AB1F2C 0%, rgba(216, 0, 20, 0.78) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header h1 {
    padding-top: 25px;
    padding-left: 200px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------------------ASIDE E MAIN -----------------------------------------------*/
.uniaoasidemain {
    position: static;
    display: flex;
    height: calc(100vh - 75px - 60px);
    width: 100%;
    border: 2px solid green;
    overflow-y: auto;
}
/*--------------------------------------------------------------------------------------------------ASIDE----------------------------------------------------*/
aside {
    position: inherit;
    width: 195px;
    height: 100hv;
    margin-top: 15px;
    border-radius: 0px 19px 0px 0px;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.44) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    border: 2px solid orange;
   
}

.disciplina,
.materiais,
.perfil {

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra do texto */
    font-size: 20px; /* Tamanho da fonte */

    margin-top: 2px;
    display: inline-block;
    width: 100%; /* Largura igual à do aside */
    padding: 15px 50px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    background-repeat: no-repeat;
    background-size: 30px 30px; /*Tamanho da imagem*/
    background-position: left; /* Posicionamento horizontal da imagem */
    background-position-x: 10px;
    text-decoration: none; /* Remover sublinhado padrão */
    color: #000000; /* Cor do texto */
}

/* Efeito hover na caixa */
.disciplina:hover,
.materiais:hover,
.perfil:hover {
    background-color: rgba(255, 0, 0, 0.5); /* Altera a cor de fundo ao passar o mouse */
    color: #FFF; /* Altera a cor do texto ao passar o mouse */
}

.disciplina {
    margin-top: 100px;
    background-image: url('Imagens/Disciplinas.svg');
}

.materiais {
    background-image: url('Imagens/Materiais.svg');
}

.perfil {
    background-image: url('Imagens/Perfil.svg');
}
/*------------------------------------------------------------------------------------------------------MAIN-----------------------------------------------*/
main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100hv;
    margin: 15px 0 0 10px;
    border: 1px solid blue;
    background: url('Imagens/LogoFatecFundo.svg') center no-repeat;
}

h2 { /*AULAS*/
    position: absolute;
    width: fit-content;
    margin-top: 50px; /*cima, esquerda, baixo*/
    border: 1px solid blue;
    
}
/*-----------------------------------------------------------------------------------------------CABEÇALHO MATERIA----------------------------------------*/
.cabecalhomateria {
    position: absolute;
    display: flex;
    top: 100px;
    width: 90%;
    height: 50px;

    overflow: hidden;  
}

.cabecalhomateria::before {
    content: '';
    position: absolute;
    top: 0;
    left: 35px; /* Deslocamento para a direita */
    height: 100%;
    width: 1px;
    border-left: 1px solid #000; /* Borda lateral esquerda deslocada */
}

.cabecalhomateria::after {
    content: '';
    position: absolute;
    bottom: 5px; /* Deslocamento para cima */
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #000; /* Borda inferior deslocada */
}

.fundocabecalhomateria {
    position: static ;
    width: 100%;
    margin: 5px 0 2px 2px ; /*cima, direita, baixo, esquerda*/
    background: #D9D9D9;
}

.cabecalhomateria .icone {
    position: absolute;
    margin: 12px 0 0 10px;
    height: 30px;
    width: 17px;
}

.cabecalhomateria .nomemateria {
    position: absolute;
    top: 10px; /* Posiciona o elemento no meio verticalmente */
    left: 40px; /* Posiciona o elemento no meio horizontalmente */
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*-----------------------------------------------------------------------------------------------CABEÇALHO ITENS----------------------------------------*/
.cabecalhoitens {
    position: absolute;
    top: 150px;
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cabecalhoitens p {
    margin: 0;
}

.data {
    text-align: left;
    padding-left: 45px;
    flex: 1;
}

.nome {
    text-align: center;
    padding-right: 700px;
    flex: 1;
}

.concluida {
    text-align: right;
    padding-right: 20px;
    flex: 1;
}
/*-----------------------------------------------------------------------------------------------------BOTÕES-------------------------------------------*/
.caixabotaoaulas {
    position: absolute;
    width: 90%;
    height: fit-content; 
    top: 185px;
}

.botaoaula {
    display: flex;   
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.botaoaula:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.botaoaula .datab,
.botaoaula .nomeb,
.botaoaula .concluidab {    
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botaoaula .datab {
    width: 110px;
    height: fit-content;
    border: 1px solid green;
    margin-left: calc(45px - (100px / 2) / 2);

}

.botaoaula .nomeb {
    width: fit-content;
    height: fit-content;
    border: 1px solid green;
    margin-left: 0;
}

.botaoaula .concluidab {
    width: fit-content;
    height: fit-content;
    border: 1px solid green;
    margin-left: 0;
}



/*----------------------------------------------------------------------------------------FOOTER--------------------------------------------------------------------------------*/
footer {
    position: static;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background-color: #B11016;
    z-index: 999;
}

footer .caixalogo {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.logocentropaula {

    width: 220px;
    height: 30;
    margin-top: 6px;
    background: url('Imagens/LogoCentoPaula.svg') center/contain no-repeat;
}

.logogovernosp {

    width: 220px;
    height: 30;
    margin-top: 8px;
    margin-left: 30px;
    background: url('Imagens/LogoGovernoSP.svg') center/contain no-repeat;
}