* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*------------------------------------------------------------------------------------------------AVATAR----------------------------------------------------*/
.avatar-container {
    display: flex;
    height: 100%;
    position: relative;
}

.fundoavatar {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza o fundoavatar */
    margin: 100px;
}

.imagemavatar {
    width: 135px;
    height: 135px;
    background: url('Imagens/ImagemProfessor.svg') center/cover no-repeat;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza a imagemavatar */
    border-radius: 50%;
    margin: 100px;
}
/*------------------------------------------------------------------------------------------------ HEADER--------------------------------------------------*/
header {
    position: static;
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    border-radius: 0px 0px 70px 0px;
    background: linear-gradient(180deg, #AB1F2C 0%, rgba(216, 0, 20, 0.78) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header h1 {
    padding-top: 25px;
    padding-left: 200px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------------------ASIDE E MAIN -----------------------------------------------*/
.uniaoasidemain {
    position: static;
    display: flex;
    height: calc(100vh - 75px - 60px);
    width: 100wh;
    /* border: 2px solid green; */
}
/*--------------------------------------------------------------------------------------------------ASIDE----------------------------------------------------*/
aside {
    position: static;
    width: 195px;
    height: calc(100% - 15px);
    margin-top: 15px;
    border-radius: 0px 19px 0px 0px;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.44) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    /* border: 2px solid orange; */
   
}

.disciplina,
.materiais,
.perfil {

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra do texto */
    font-size: 20px; /* Tamanho da fonte */

    margin-top: 2px;
    display: inline-block;
    width: 100%; /* Largura igual à do aside */
    padding: 15px 50px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    background-repeat: no-repeat;
    background-size: 30px 30px; /*Tamanho da imagem*/
    background-position: left; /* Posicionamento horizontal da imagem */
    background-position-x: 10px;
    text-decoration: none; /* Remover sublinhado padrão */
    color: #000000; /* Cor do texto */
}

/* Efeito hover na caixa */
.disciplina:hover,
.materiais:hover,
.perfil:hover {
    background-color: rgba(255, 0, 0, 0.5); /* Altera a cor de fundo ao passar o mouse */
    color: #FFF; /* Altera a cor do texto ao passar o mouse */
}

.disciplina {
    margin-top: 100px;
    background-image: url('Imagens/Disciplinas.svg');
}

.materiais {
    background-image: url('Imagens/Materiais.svg');
}

.perfil {
    background-image: url('Imagens/Perfil.svg');
}
/*------------------------------------------------------------------------------------------------------MAIN-----------------------------------------------*/
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100hv;
    margin: 15px 0 0 10px;    
    background: url('Imagens/LogoFatecFundo.svg') center no-repeat;
    /* border: 1px solid blue; */
    overflow: auto;
}

h2 { /*LISTA D EPRESENÇA*/
    width: fit-content;
    margin-top: 50px; /*cima, esquerda, baixo*/
    /* border: 1px solid green; */
    
}

/*----------------------------------------------------------------------------------------- MATERIA E DATA ----------------------------------------*/
.cabecalhomateria {
    position: relative;
    display: flex;
    width: 90%;
    min-height: 50px; 
    /* border: 1px solid green; */
}

.cabecalhomateria::before {
    content: '';
    position: absolute;
    top: 0;
    left: 35px; /* Deslocamento para a direita */
    height: 100%;
    width: 1px;
    border-left: 2px solid #000; /* Borda lateral esquerda deslocada */
}

.cabecalhomateria::after {
    content: '';
    position: absolute;
    bottom: 5px; /* Deslocamento para cima */
    left: 0;
    height: 1px;
    width: 100%;
    border-bottom: 2px solid #000; /* Borda inferior deslocada */
}

.fundocabecalhomateria {
    position: static ;
    width: 100%;
    margin: 5px 0 2px 2px ; /*cima, direita, baixo, esquerda*/
    background: #D9D9D9;
}

.icone {
    position: absolute;
    margin: 12px 0 0 10px;
    height: 30px;
    width: 17px;
}


.cabecalhomateria .nomemateria {
    position: absolute;
    top: 10px; /* Posiciona o elemento no meio verticalmente */
    left: 40px; /* Posiciona o elemento no meio horizontalmente */
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*-----------------------------------------------------------------------------------------------------CAIXA TABELA-------------------------------------------*/
.caixatabela {
    width: 90%; 
    /* border: 1px solid green; */
}

/*--------------------------------------------------------------------TABELA---------------------------------------*/
table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid green;*/
}

/*--------------------------------------------------------------------CEBAÇALHO TABELA---------------------------------------*/
.cabecalhotabela th {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.col-imagem,
.col-nome,
.col-status {
    /* border: 1px solid green; */
    font-size: 20px;
}

.col-imagem {   
}

.col-nome {
    position: relative;
    text-align: left;
    padding: 5px;
}

.col-status {
    width: 70PX;    
}

/*--------------------------------------------------------------------CONTEÚDO TABELA---------------------------------------*/

.linha {
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 30px;
}


.foto,
.nomealuno,
.status {
    /* border: 1px solid green; */
}

.foto {
    width: 30px;
}

.editfoto {
    display: block;
    margin: auto;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.editfoto:hover {
    transform: scale(2.5);
}

.nomealuno {
    padding-left: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Para ocupar toda a largura da célula */
    height: 100%; /* Para ocupar toda a altura da célula */
    box-sizing: border-box; /* Garante que o padding e a borda não afetem o tamanho total */
}

tbody tr:nth-child(odd) {
    background-color: #D9D9D9;
}

tr:nth-child(even) {
    background-color: transparent; 
}

/*----------------------------------------------------------------BOTAO DE SALVAR CHAMADA---------------------------------------*/

.salvarchamada {
    margin-top: 30px;
    width: 102%;
    height: 80%;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid black ;
    transition: transform 0.1s ease-in-out; /* Adiciona uma transição suave */
}

.salvarchamada:hover {
    background-color: rgb(160, 185, 160);
    color: rgb(7, 7, 7);
    transform: scale(1.1);

/*----------------------------------------------------------------------------------------FOOTER--------------------------------------------------------------------------------*/
footer {
    position: static;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background-color: #B11016;
    z-index: 999;
}

footer .caixalogo {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.logocentropaula {

    width: 220px;
    height: 30;
    margin-top: 6px;
    background: url('Imagens/LogoCentoPaula.svg') center/contain no-repeat;
}

.logogovernosp {

    width: 220px;
    height: 30;
    margin-top: 8px;
    margin-left: 30px;
    background: url('Imagens/LogoGovernoSP.svg') center/contain no-repeat;
}