* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.avatar-container {
    display: flex;
    height: 100%;
    position: relative;
}

.fundoavatar {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza o fundoavatar */
    margin: 100px;
}

.imagemavatar {
    width: 135px;
    height: 135px;
    background: url('Imagens/ImagemProfessor.svg') center/cover no-repeat;
    position: absolute;
    transform: translate(-50%, -50%); /* Centraliza a imagemavatar */
    border-radius: 50%;
    margin: 100px;
}

header {
    width: 100%;
    height: 75px;
    flex-shrink: 0;
    border-radius: 0px 0px 70px 0px;
    background: linear-gradient(180deg, #AB1F2C 0%, rgba(216, 0, 20, 0.78) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header h1 {
    padding-top: 25px;
    padding-left: 200px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.uniaoasidemain {
    display: flex;
    height: calc(100vh - 75px - 60px);
}

aside {
    margin-top: 15px;
    width: 195px;
    flex-shrink: 0;
    border-radius: 0px 19px 0px 0px;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.44) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
   
}

.disciplina,
.materiais,
.perfil {

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra do texto */
    font-size: 20px; /* Tamanho da fonte */

    margin-top: 2px;
    display: inline-block;
    width: 100%; /* Largura igual à do aside */
    padding: 15px 50px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    background-repeat: no-repeat;
    background-size: 30px 30px; /*Tamanho da imagem*/
    background-position: left; /* Posicionamento horizontal da imagem */
    background-position-x: 10px;
    text-decoration: none; /* Remover sublinhado padrão */
    color: #000000; /* Cor do texto */
}

/* Efeito hover na caixa */
.disciplina:hover,
.materiais:hover,
.perfil:hover {
    background-color: rgba(255, 0, 0, 0.5); /* Altera a cor de fundo ao passar o mouse */
    color: #FFF; /* Altera a cor do texto ao passar o mouse */
}

.disciplina {
    margin-top: 100px;
    background-image: url('Imagens/Disciplinas.svg');
}

.materiais {
    background-image: url('Imagens/Materiais.svg');
}

.perfil {
    background-image: url('Imagens/Perfil.svg');
}

main {
    width: 100%;
    margin: 15px 0 0 10px;
}

.caixafundomain {
    display: flex;
    height: 100%;
    position: relative;
    background: url('Imagens/LogoFatecFundo.svg') center no-repeat;
}

.caixafundomain h2 {
    position: absolute;
    margin: 67px 0 0 10px ;
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caixafundomain table {
    position: relative;
    margin: 120px 0 0 10px ;
    width: 700px;
    height: 30px;
    border-collapse: collapse; /* Une as bordas das células */
    border: 2px solid #000; /* Define uma borda para a tabela */
}

#minhaTabela tr:hover {
    background-color: rgba(255, 0, 0, 0.5); /* Altere para a cor desejada */
    cursor: pointer; /* Altere o cursor para indicar que é clicável */
}

a {
    color: inherit;
  text-decoration: none;
}

.caixafundomain td {
    padding: 10px;
    border: 2px solid #000; /* Borda para as células */
    border-bottom: 4px solid #000000;
}

.caixafundomain .editarcolunaicone{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.caixafundomain .editarcolunanome{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .caixafundomain tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}*/


/* Estilos para os botões */
.botaomateria {
    margin-top: 150px;
}

.iconemateria {
    /* Defina a largura desejada para a imagem */
    width: 100px; /* Largura desejada */
    /* Outros estilos, se necessário */
    display: inline-block; /* Exibir elementos em linha */
    vertical-align: middle; /* Alinhar verticalmente */
}

/* Estilos para o texto/nome da matéria */
.nomemateria {
    /* Adicione estilos para o nome da matéria, se necessário */
    display: inline-block; /* Exibir elementos em linha */
    vertical-align: middle; /* Alinhar verticalmente */
    margin-left: 10px; /* Espaçamento entre a imagem e o nome */
}

/* Estilos para o botão (opcional) */
.botaomateria button {
    /* Adicione estilos para o botão, se necessário */
}





footer {
    position: fixed;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background-color: #B11016;
}

footer .caixalogo {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.logocentropaula {

    width: 220px;
    height: 30;
    margin-top: 6px;
    background: url('Imagens/LogoCentoPaula.svg') center/contain no-repeat;
}

.logogovernosp {

    width: 220px;
    height: 30;
    margin-top: 8px;
    margin-left: 30px;
    background: url('Imagens/LogoGovernoSP.svg') center/contain no-repeat;
}